body {
    background-color: black;
    color: white;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


#input {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px solid #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list {
    grid-area: 2 / 1 / 6 / 2;
    overflow-y: scroll;
    border: 1px solid #191919;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#contents {
    grid-area: 1 / 2 / 6 / 6;
    border: 1px solid #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: black;
    border: 1px solid #191919;
    cursor: pointer;
    padding: 0.5em;
    color: white;
    font-family: Arial;
    border-radius: 0.5em;
}

.log {
    background-color: black;
    border: 1px solid #191919;
    cursor: pointer;
    padding: 0.5em;
    color: white;
    font-family: Arial;
    width: 100%;
}

textarea {
    background-color: black;
    border: 1px solid #191919;
    color: white;
    font-family: Arial;
}