@font-face {
    font-family: Nunito;
    src: url("/Nunito-Regular.ttf");
}

body {
    background-color: white;
    color: black;
    font-family: Nunito;
}

option {
    background-color: white;
    color: black;
    font-family: Nunito;
}

select {
    color: black;
    padding: 1px;
    border-radius: 4px;
    background-image: linear-gradient(white, lightgray);
    border: 1px solid gray;
    font-family: Nunito;
}

input {
    background-color: white;
    color: black;
    padding: 1px;
    border-radius: 4px;
    border: 1px solid gray;
    font-family: Nunito;
}

input[type="file"] {
    display: none;
}

button {
    color: black;
    padding: 1px;
    border-radius: 4px;
    background-image: linear-gradient(white, lightgray);
    border: 1px solid gray;
    font-family: Nunito;
}

.upload {
    color: black;
    padding: 1px;
    border-radius: 4px;
    background-image: linear-gradient(white, lightgray);
    border: 1px solid gray;
    font-family: Nunito;
}

[data-theme="dark"] {
    body {
        background-color: black;
        color: white;
        font-family: Nunito;
    }

    option {
        background-color: black;
        color: white;
        font-family: Nunito;
    }

    select {
        color: white;
        padding: 1px;
        border-radius: 4px;
        background-image: linear-gradient(gray, black);
        border: 1px solid gray;
        font-family: Nunito;
    }

    input {
        background-color: black;
        color: white;
        padding: 1px;
        border-radius: 4px;
        border: 1px solid gray;
        font-family: Nunito;
    }

    input[type="file"] {
        display: none;
    }

    button {
        color: white;
        padding: 1px;
        border-radius: 4px;
        background-image: linear-gradient(gray, black);
        border: 1px solid gray;
        font-family: Nunito;
    }

    .upload {
        color: white;
        padding: 1px;
        border-radius: 4px;
        background-image: linear-gradient(gray, black);
        border: 1px solid gray;
        font-family: Nunito;
    }
}