body {
    background-color: black;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
}

.m {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-break: break-word;
    gap: 1em;
    padding: 1em;
    background-color: #191919;
    border: 1px solid #252526;
    border-radius: 1em;
}

.icon {
    height: 50%;
}

.display {
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em black;
}

.e video {
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em black;
}

a {
    color: white;
}